# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.GJStateMachine.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Projects\Unity\GJStateMachine\.idea\.idea.GJStateMachine\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
